body{
    margin: 0;
    padding: 0;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mobile{
    width: 270px;
    height: 525px;
    border: 3px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    background: rgba(0, 0, 0, .9);
    box-sizing: border-box;
    box-shadow: inset 0 0 8px;
}
.screen{
    position: relative;
    width: 260px;
    height: 430px;
    background: rgba(255, 255, 255, .1);
    margin: 55px auto;
    overflow: hidden;
}
.screen::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(209, 207, 207, 0.1);
    transform: skewx(148deg) translateX(-80%);
}
.inner{
    position: absolute;
    top: 2.5px;
    left: 50%;
    transform: translateX(-50%);
    width: 58px;
    height: 3px;
    background: rgba(255, 255, 255, .4);
    border-radius: 50%;
}
.inner::before{
    content: '';
    position: absolute;
    top: 15px;
    left: -21px;
    background: rgba(255, 255, 255, .5);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.inner::after{
    content: '';
    position: absolute;
    top: 18.3px;
    left: -17.6px;
    background: rgba(0, 0, 0, .9);
    width: 3px;
    height: 3px;
    border-radius: 50%;
}
.sony{
    position: absolute;
    top: 5px;
    left: 50%;
    color: rgba(230, 230, 230, .9);
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 15px;
}
.volume, .power{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 70px;
    left: 100%;
    list-style: none;
}
.volume li{
    width: 2px;
    height: 60px;
    background: rgba(0, 0, 0, .9);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}
.power li{
    position: absolute;
    top: 95px;
    width: 2px;
    height: 20px;
    background: rgba(0, 0, 0, .9);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}